/*
============================
animation hover
============================
*/

a:hover{
    color: #008C8C;
}


/*
============================
animation header
============================
*/

h3{
animation: h3 2000ms;
}

@keyframes h3{
0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}

nav{
animation: nav 1700ms;
}

@keyframes nav{
0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}

@keyframes h1{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }

    /*
============================
animation btn
============================
*/

    .btn:hover{
   
        color: white;
        background-color: #008C8C;
        border: 4px solid rgb(255, 253, 253, 0.8) ;
        padding: 10px 11px;
    }