*{
    margin: 0;
}

.padding{
    padding: 0 15%;
}

.margin{
    margin: 0 15%;
}

a{
    margin-left: 1rem;
}

.display{
    display: flex;
    justify-content: space-between;
}

h2{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 10% 0 8% 20%;
}

.bg-1{
    background-image: url("../Images/BG_01.jpg");
    background-size: cover;
   
}

.bg-2{
    background-image: url("../Images/BG_02.jpg");
    background-size: cover;
}

/*
============================
section header
============================
*/

header{
    height: 100vh;
}

.head{   
    align-items: center; 
    padding-top: 5%;
}

header h1{
    padding: 8% 0;
}

/*
===========================
section agence et service
===========================
*/

article{
    border: 5px solid #008C8C;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.05);
    padding: 3%;
    margin-bottom: 2%;
}

article img{
    border: 4px solid white;
    border-radius: 15px;
    padding: 1.5%;
   margin: 2% 5% 0 0;
    width: 130px;
    height: 12vh;
}

#service{
    padding-bottom: 10%;
}

/*
=============================
section realisation
=============================
*/

.realisation {
    flex-wrap: wrap;
}

.rea-img{
    border: 4px solid #008C8C ;
    margin: 3% 0;
    width: 250px;
    height: 20vh;
}

 .btn {
    border-radius: 10px;
    color: #008C8C;
    background-color: transparent;
    border: 4px solid #008C8C ;
    padding: 10px;
    margin: 1.5em 0 4em 24vw;
    font-size: 1.3em;
    cursor: pointer;
}

/*
=============================
section partenaire
=============================
*/


.partenaire-img{
    width: 210px;
    height: 15vh;
    padding-bottom: 10%;
}

/*
=============================
section temoignage
=============================
*/
