
/*
============================
            font
============================
*/

@font-face {
    font-family: "K2D-Bold";
    src: url('../Police/K2D/K2D-Bold.ttf');
}
@font-face {
    font-family: "K2D-ExtraBold";
    src: url('../Police/K2D/K2D-ExtraBold.ttf');
}

*{
    font-family: "K2D-Bold", sans-serif;
}

h1, 
h2, 
h3,
h4 {
    font-family: "K2D-ExtraBold", Arial, sans-serif;
}

/*
============================
            Base
============================
*/

*{
    margin: 0;
}

h1, h4, a, p{
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h1{
    font-size: 5rem;
    animation: h1 2700ms;
}

h2{
    color: #008C8C;
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 10% 0 8% 20%;
}

h3{
    color: #008C8C;
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h4{
    font-size: 2rem;
}

p{
   
    font-size: 1.8rem;
}

a{
    
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
}


/*
============================
            Layout          
============================
*/

article{
    border: 5px solid #008C8C;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.05);
    padding: 3%;
    margin-bottom: 2%;
}

/*
============================
            Module
============================
*/

.btn {
    color: #008C8C;
    background-color: transparent;
    padding: 10px;
    margin: 1.5em 0 4em 37%;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-2{
    color: black;
    background-color: white;
}



/*
============================
            utilis
============================
*/

.pd-primary{
    padding: 0 10%;
}

.mg-primary{
    margin: 0 10%;
}

.dp-flex{
    display: flex;
    justify-content: space-between;
}

.jc-f-star{
    justify-content: flex-start;
}

.fw-wrap{
    flex-wrap: wrap;
}

.border{
    border: 4px solid #008C8C ;
}

.border-radius{
    border-radius: 16px;
}
.bg-1{
    background-image: url("../Images/BG_01.png");
    background-size: cover;
   
}

.bg-2{
    background-image: url("../Images/BG_02.png");
    background-size: cover;
}

/*
============================
section header
============================
*/

.head{   
    align-items: center; 
    padding-top: 5%;
}

header h1{
    padding: 20% 0 25% 0;
}

/*
===========================
section service
===========================
*/

.img-service {
    border-color: white;
    padding: 1.5%;
   margin: 2% 5% 0 0;
    width: 130px;
    height: 12vh;
}

#service{
    padding-bottom: 10%;
}

/*
=============================
section realisation
=============================
*/

.rea-img{ 
    margin: 3% 0;
    width: 30%;
    height: 20%;
}

/*
=============================
section partenaire
=============================
*/


.partenaire-img{
    width: 210px;
    height: 15vh;
    padding-bottom: 10%;
}

/*
=============================
section temoignage
=============================
*/

.temoignage{
    background-color: white;
    padding: 10px;
    margin-right: 1%;
}

.temoignage p{
    color: black;
    text-shadow: none;
}

/*
=============================
section form
=============================
*/

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-input {
    color: black;
    margin: 0 0 0.5em 0;
    cursor: text;
}

.btn-submit{
    margin-left: 0;
    width: 50%;
}

/*
=============================
section maps
=============================
*/
.maps{
    width: 45%;
}
iframe{
    width: 100%;
    height: 80%;
}

/*
=============================
footer color marrs green
=============================
*/

footer h3{
    color: white;
}

.bg-color{
    background-color: #008C8C;
    padding-bottom: 3%;
}

.mg-right-20{
  margin-right: 25%;
}


/*
=============================
footer reseau sociaux
=============================
*/

.social-networks{
    margin-top: 5%;
    margin-right: 3%;
}

/*
=============================
footer copyright
=============================
*/

.bg-black{
    background-color: black;
}

@media all and (max-width:2000px) and (min-width:1299px) {
    h1{
        font-size: 4rem;
    }
}

/*
=============================
SECTION ANIMATION
=============================
*/

/*
============================
animation hover
============================
*/

a:hover{
    color: #008C8C;
    text-decoration: underline;
}

.jc-f-star a {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
/*
============================
animation header
============================
*/

h3{
animation: h3 2000ms;
}

@keyframes h3{
0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}

nav{
animation: nav 1700ms;
}

@keyframes nav{
0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}

@keyframes h1{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }

    /*
============================
animation btn
============================
*/

    .btn:hover, .btn-2:hover{
   
        color: white;
        background-color: #008C8C;
        border: 4px solid rgb(255, 253, 253) ;
        padding: 10px 11px;
    }

    .form-input:hover{
        color: black;
        border-color: #008C8C;
        background-color: white;
    }

    .form-input:focus{
        background-color:rgba(255, 255, 255, 0.9);
    }



/*
=============================
@media pour pc 
=============================
*/

@media all and (max-width:1300px) and (min-width:1005px) {

    h1{
        font-size: 4rem;
    }
    
    a, p{
        font-size: 1.3rem;
    }

    .mg-right-20{
        margin-right: 15%;
      }

      .btn {
        font-size: 1.2em;
    }
}

/*
=============================
@media pour tablette
=============================
*/

@media all and (max-width:1004px) {

    
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.8rem;
    }

    h3{
        font-size: 2.5rem;
    }

    p, h4{
        font-size: 1.5rem;
    }

    a{
        font-size: 1.06rem;
    }

    .btn {
        margin: 1.5em 0 4em 25%;
    }

   /*
    =============================
    section partenaire
    =============================
    */


    .partenaire-img{
        height: 10vh;
    }

    /*
    =============================
    section temoignage
    =============================
    */

    .dp-in-bloc{
        display: inline-block;
    }

    /*
    =============================
    section form
    =============================
    */

    form {
        width: 80vw;
    }

    .form-input {
        margin: 0 0 0.5em 0;
    }

    .btn-submit{
        width: 60%;
        margin-left: 0;

    }

    /*
    =============================
    section maps
    =============================
    */
    .maps{
        width: 80vw;
        height: 400px;
    }

    
/*
=============================
footer 
=============================
*/
.mg-right-20{
  margin-right: 0%;
}

.media-pd{
    padding: 1% 0.08%;
}
}

/*
=============================
@media pour mobile
=============================
*/

@media all and (max-width: 700px) {

    
    h1{
        font-size: 1.7rem;
    }

    h2{
        font-size: 2.2rem;
    }

    h3{
        font-size: 2rem;
    }

    p, h4{
        font-size: 1.2rem;
    }

    a{
        display: block;
        font-size: 0.8rem;
    }

    .btn {
        font-size: 1em;
        margin: 1.5em 0 4em 0;
    }

    .form-input {
        margin: 0 0 0.5em 0;
    }

    .rea-img{ 
        width: 300px;
        height: 20vh;
    }

    .img-service{
       margin-left: 25%;
       margin-bottom: 5%;
    }
      
        /*
    =============================
    section partenaire
    =============================
    */


    .partenaire-img{
        height: auto;
    }

    /*
    =============================
    section temoignage
    =============================
    */

    .dp-in-bloc{
        display: inline-block;
    }
    .dp-in-bloc-mob{
        display: inline-block;
    }
}
