
@font-face {
    font-family: "K2D-Bold";
    src: url('../Police/K2D/K2D-Bold.ttf');
}
@font-face {
    font-family: "K2D-ExtraBold";
    src: url('../Police/K2D/K2D-ExtraBold.ttf');
}

*{
    font-family: "K2D-Bold", sans-serif;
}

h1, 
h2, 
h3 {
    font-family: "K2D-ExtraBold", "Arial Black", sans-serif;
}