h1{
    color: white;
    font-size: 3.8rem;
    animation: h1 2700ms;
}

h2, h3{
    color: #008C8C;
    font-size: 3.5rem;
}

h4{
    color: white;
    font-size: 2rem;
}

a, p{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


